body
{
	text-align: center;
	
}

#content-area
{
	background-color: #cccccc ;
	width: 400px;
	margin: 0 auto;
	padding: 10px;
}

h1
{
	padding-top: 10px;
}

#loginPic
{
	color : red;
	display:none;
	height: 150px;
	padding: 10px;
	margin: 0 auto;
}

input{
	width: 200px;
	padding: 2px;
	margin: 0px auto;
}

#email
{
	display: none;
}

#password
{
	display: none;
}

button
{
	width: 120px;
	margin-top:10px;
}

#login
{
	display: none;
}

#logout
{
	display: none;
}

#newuser
{
	display: none;
}

#userID
{
	display: none;
}

#cancel
{
	display: none;
}

#messageText0
{
	font-Size: 20px;
} 

#messageText1
{
	
}

#repairPassword
{
	color: #323232;
	font-weight: 500;
	font-size: 15px;
	padding-top: 20px;
	display: none;
}