<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Email and Password</title>
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/4.13.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/4.13.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-database.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/Controller/FirebaseInitScript.js"></script>
    <script type="text/javascript" src="/public/Style/js/navBar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/Style/css/navBar.css" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/Style/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/auth.css" />
    <script type="text/javascript" src="/public/Controller/RegistrationController.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
</head>

<body>
    <div id="wrap">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="width:40px;">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Bloody Hangman</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul id="loginTable" class="nav navbar-nav navbar-right">
                        <li id="login" onclick="loginFunction(location.pathname)">Log In</li>
                        <li><a id="messageText0" href="myprofile.html" style="color:white;"></a></li>
                        <li id="signup" onclick="signupFunction()">Sign Up</li>
                        <li id="messageText1">
                            <p></p>
                        </li>
                        <li id="accountMenu" onclick="window.location='myprofile.html'"><img id="accountImage" src="" /></li>
                        <li id="logout" class="buttons" onclick="logoutFunction()">Log Out</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid text-center">
            <div class="content">
                <div class="col-xs-12" id="main">
                    <h2 id="authTitle">Register Email and Password</h2>
                    <div id="input-area">
                        <p id="messageText"></p>
                        <input class="form-control" id="email" type="email" placeholder="Email:" required/>
                        <input class="form-control" id="password" type="password" placeholder="Password:" required/>
                        <input class="form-control" id="passwordConf" type="password" placeholder="Confirmation Password:" required/>
                        <button class="btn btn-default" type="button" id="valify" onclick="execute(id)">Send Verification Email</button>
                        <button class="btn btn-default" type="button" id="reload" onclick="execute(id)">Verified</button>
                        <button class="btn btn-default" type="button" id="regist" onclick="execute(id)">Register Your Personal Data</button>
                        <button class="btn btn-default" type="button" id="cancel" onclick="jumpToIndex()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="navbar navbar-fixed-bottom">
        <div class="full">
            <div class="container">
                <p> © 2018 Copyright:</p>
            </div>
        </div>
    </footer>
</body>

</html>