<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Users</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/4.13.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/4.13.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-database.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Controller/FirebaseInitialScript.js"></script>
    <script type="text/javascript" src="../Controller/navBar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/navBar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/iphone.css" />
    <style media="screen"></style>
</head>

<body>
    <div id="wrap">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="width:40px;"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="index.html">Horror Hangman Game</a> </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul id="loginTable" class="nav navbar-nav navbar-right">
                        <li id="login" onclick="loginFunction(location.pathname)">Log In</li>
                        <li><a id="messageText0"  href="myprofile.html" style="color:white;"></a></li>
                        <li id="signup" onclick="signupFunction()">Sign Up</li>
                        <li id="messageText1">
                            <p></p>
                        </li>
                        <li id="accountMenu" onclick="window.location='myprofile.html'"><img id="accountImage" src="" /></li>
                        <li id="logout" class="buttons" onclick="logoutFunction()">Log Out</li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 style="text-align: center; padding-top: 1em;">List of All Users</h1> </div>
    <footer class="navbar navbar-fixed-bottom">
        <div class="full">
            <div class="container"> <span> © 2018 Copyright:</span><a id="users" href="users.html" style="float:right;color:white;display:none;">Registered Users</a> </div>
        </div>
    </footer>
</body>
<script>
    var count = 0;
    var key;
    window.onload = function () {
        firebase.database().ref().child("takenusernames/").once('value', function (snapshot) {
            snapshot.forEach(function (childSnapshot) {
                var user = document.createElement("A");
                user.setAttribute("id", "user" + count);
                document.body.appendChild(user);
                document.body.appendChild(document.createElement("BR"));
                var uid = firebase.auth().currentUser.uid;
                if (uid == childSnapshot.key) document.getElementById("user" + count).innerHTML = childSnapshot.val() + " (You!)";
                else document.getElementById("user" + count).innerHTML = childSnapshot.val();
                document.getElementById("user" + count).name = childSnapshot.key;
                document.getElementById("user" + count).href = "usersprofile.html";
                document.getElementById("user" + count).onclick = openProfile;
                document.getElementById("user" + count).style.marginLeft = "20%";
                count++;
            });
        });
    }

    function openProfile() {
        var userid = $(this).attr('name');
        // Store it in the cookies
        document.cookie = userid;
    }
</script>

</html>